// 892 * 1262
html, body, #app {
    width: 892px;
    margin: 0 auto;
    // padding: 10px;
    box-sizing: border-box;
    font-family: "Microsoft\ YaHei", Arial;
    overflow: auto;
}
.about {
    // height: 100%;
    // width: 790px;
    margin: 10px auto;
    padding: 80px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    &::after {
        content: " ";
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-radius: 4px;
        webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.5);
        box-shadow: 0 1px 10px rgba(0,0,0,0.5);
        z-index: -1;
    }
    .border {
        border-left: 2px solid $colorD3;
        margin: 0 8px;
    }
    .header__2 {
        font-size: 16px;
        color: $fontColor6;
        font-weight: bold;
    }
    .header__3 {
        font-size: 15px;
        color: $fontColor6;
        font-weight: bold;
    }
    .header__4 {
        font-size: 14px;
        color: $fontColor6;
    }
    .info__2 {
        font-size: 13px;
        color: $fontColor6;
    }
    .info__3 {
        font-size: 13px;
        color: $fontColor6;
        padding-left: 20px;
    }
    p {
        line-height: 1.65em;
        padding: 2px 3px;
    }
    a {
        color: $linkColor;
        text-decoration: underline;
    }
    .active {
        color: $activeColor;
        font-weight: bold;
    }
    .header {
        display: flex;
        flex-flow: row;
        height: 60px;
        margin-bottom: 15px;
        .cell-name {
            flex: 1;
            color: $fontColor3;
            padding-left: 10px;
            h1 {
                letter-spacing: 4px;
            }
        }
        .cell-info {
            border-left: 4px solid $colorD3;
            padding-left: 20px;
            width: 33.33%;
            text-align: left;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
        }
    }
    
    .box {
        display: flex;
        flex-flow: row;
        &.skill {
            h2, .box-info {
                padding-top: 20px;
            }
        }
        h2 {
            width: 17%;
            padding-right: 15px;
            text-align: right;
            box-sizing: border-box;
        }
        .box-info {
            flex: 1;
            border-left: 4px solid $colorD3;
            padding-left: 15px;
            padding-bottom: 15px;
        }
        .box-contend {
            flex: 1;
        }
        .info-item {
            margin-bottom: 6px;
            .info-item__header {
                display: list-item;
                list-style-type: circle;
                position: relative;
                margin-left: 20px;
            }
        }
        ul {
            margin-left: 36px;
            li {
                line-height: 1.65em;
                // padding: 2px 3px;
            }
        }
        .p-header {
            span {
                margin-left: 20px;
            }
        }
    }
}