.h-card {
    box-sizing: 4px;
    border: 1px solid $colorD3;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    display: flex;
	flex-flow: column;

    .h-card__header {
        padding: 6px 12px;
        border-bottom: 1px solid $borderColorGray;
        box-sizing: border-box;
        h2 {
            font-size: 1.15em;
        }
    }
    .h-card__body {
		flex: 1;
        padding: 12px;   
    }
}
.chart-box {
    height: 100%;
}
.exp-list {
    padding-bottom: 15px;
    // border-bottom: 1px solid $borderColorGray;
    margin-top: 15px;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
    .title {
        display: flex;
        .tiele-name {
            flex: 1;
        }
        .title-time {
            
        }
    }
    ul {
        padding-left: 6px;
        padding-inline-start: 26px;
        li {
            padding: 3px 0;
        }
    }
}

.h-collapse {
    border-bottom: 1px solid $borderColorGray;
    .collapse-title {
        cursor: pointer;
        position: relative;
        padding: 6px 0;
        display: flex;
        flex-flow: row;
        .collapse-title__arrow {
            color: $fontColor9;
            margin-left: 6px;
        }
        .collapse-title__label {
            flex: 1;
        }
    }
    .collapse-body {
        padding-bottom: 12px;
    }
    &.is-active {
        .collapse-title{
            .collapse-title__arrow {
                transform: rotate(90deg);
            }
        }
    }
}